pandas
numpy
python-dotenv

sqlalchemy

langchain
langchain-core
langchain-community

faiss-cpu

sentence-transformers

pypdf
pymupdf
unstructured

tiktoken

streamlit

sqlparse

pydantic

tqdm

tabulate

requests

groq
openai